In [57]:
import pandas as pd

In [41]:
PlayerStats = pd.read_csv("Player Stats.csv")

In [43]:
PlayerStats

,NAME,POS,AGE,HT,WT,NAT,APP,SUB,G,A,SH,ST,FC,FA,YC,RC,SV,GA
0,Aaron Wan-Bissaka,D,26,1.83 m,72 kg,England,22,2,0,2,3,1,17,9,4,0,0,0
1,Alejandro Garnacho,F,19,1.8 m,73 kg,Argentina,36,6,7,5,101,27,19,54,4,0,0,0
2,Altay Bayindir,G,26,1.98 m,87 kg,Turkey,0,0,0,0,0,0,0,0,0,0,0,0
3,Amad,F,21,1.73 m,72 kg,Ivory Coast,9,6,1,1,10,4,5,4,1,0,0,0
4,André Onana,G,28,1.91 m,92 kg,Cameroon,38,0,0,0,0,38,1,4,5,0,150,57
5,Anthony Martial,F,28,1.8 m,76 kg,France,13,8,1,0,6,4,3,6,0,0,0,0
6,Antony,F,24,1.75 m,63 kg,Brazil,29,14,1,1,43,15,18,32,5,0,0,0
7,Bruno Fernandes,M,29,1.78 m,66 kg,Portugal,35,0,10,8,95,36,41,28,9,0,0,0
8,Casemiro,M,32,1.85 m,83 kg,Brazil,25,1,1,2,38,9,30,10,7,0,0,0
9,Christian Eriksen,M,32,1.83 m,76 kg,Denmark,22,10,1,2,13,4,7,3,1,0,0,0
10,Dermot Mee,G,21,1.83 m,72 kg,Northern Ireland,0,0,0,0,0,0,0,0,0,0,0,0
11,Diogo Dalot,D,25,1.83 m,78 kg,Portugal,36,1,2,3,30,7,43,14,5,1,0,0
12,Ethan Wheatley,F,18,1.87,65 kg,England,3,3,0,0,0,0,3,0,0,0,0,0
13,Habeeb Ogunneye,D,18,1.79,64 kg,England,0,0,0,0,0,0,0,0,0,0,0,0
14,Harry Amass,D,17,1.81,72 kg,England,0,0,0,0,0,0,0,0,0,0,0,0
15,Harry Maguire,D,31,1.93 m,88 kg,England,22,4,2,2,20,3,20,11,4,0,0,0
16,Jonny Evans,D,36,1.88 m,77 kg,Northern Ireland,23,8,0,1,1,0,17,13,2,0,0,0
17,Kobbie Mainoo,M,19,1.75 m,72 kg,England,24,0,3,1,11,5,13,23,3,0,0,0
18,Lisandro Martínez,D,26,1.75 m,72 kg,Argentina,11,3,0,1,1,1,6,3,3,0,0,0
19,Louis Jackson,D,18,1.75,65 kg,Scotland,0,0,0,0,0,0,0,0,0,0,0,0
20,Luke Shaw,D,28,1.78 m,78 kg,England,12,0,0,0,2,0,13,3,6,0,0,0
21,Marcus Rashford,F,26,1.8 m,68 kg,England,33,7,7,2,61,20,13,21,2,0,0,0
22,Mason Mount,M,25,1.8 m,76 kg,England,14,9,1,0,4,1,10,9,2,0,0,0
23,Omari Forson,M,19,1.79,67 kg,England,4,3,0,1,1,0,1,0,0,0,0,0
24,Raphaël Varane,D,31,1.91 m,81 kg,France,22,6,1,0,8,2,8,3,2,0,0,0
25,Rasmus Højlund,F,21,1.91 m,78 kg,Denmark,30,5,10,2,36,19,19,30,2,0,0,0
26,Scott McTominay,M,27,1.93 m,87 kg,Scotland,32,14,7,1,43,18,28,21,2,0,0,0
27,Shola Shoretire,F,20,1.7 m,68 kg,England,0,0,0,0,0,0,0,0,0,0,0,0
28,Sofyan Amrabat,M,27,1.83 m,82 kg,Morocco,21,11,0,0,3,0,23,10,6,0,0,0
29,Toby Collyer,M,20,1.8,65 kg,England,0,0,0,0,0,0,0,0,0,0,0,0
30,Tom Heaton,G,38,1.88 m,83 kg,England,0,0,0,0,0,0,0,0,0,0,0,0
31,Tyrell Malacia,D,24,1.7 m,67 kg,Netherlands,0,0,0,0,0,0,0,0,0,0,0,0
32,Victor Lindelöf,D,29,1.88 m,78 kg,Sweden,19,5,1,1,6,4,15,2,2,0,0,0
33,Willy Kambwala,D,19,1.92,76 kg,France,8,5,0,0,0,0,4,2,1,0,0,0

## Clean the Player stats Table

In [44]:
# Remove 'm' from the 'HT' column

PlayerStats["HT"] = PlayerStats["HT"].str.replace("m", "")
PlayerStats["WT"] = PlayerStats["WT"].str.replace("kg", "")
PlayerStats

,NAME,POS,AGE,HT,WT,NAT,APP,SUB,G,A,SH,ST,FC,FA,YC,RC,SV,GA
0,Aaron Wan-Bissaka,D,26,1.83,72,England,22,2,0,2,3,1,17,9,4,0,0,0
1,Alejandro Garnacho,F,19,1.8,73,Argentina,36,6,7,5,101,27,19,54,4,0,0,0
2,Altay Bayindir,G,26,1.98,87,Turkey,0,0,0,0,0,0,0,0,0,0,0,0
3,Amad,F,21,1.73,72,Ivory Coast,9,6,1,1,10,4,5,4,1,0,0,0
4,André Onana,G,28,1.91,92,Cameroon,38,0,0,0,0,38,1,4,5,0,150,57
5,Anthony Martial,F,28,1.8,76,France,13,8,1,0,6,4,3,6,0,0,0,0
6,Antony,F,24,1.75,63,Brazil,29,14,1,1,43,15,18,32,5,0,0,0
7,Bruno Fernandes,M,29,1.78,66,Portugal,35,0,10,8,95,36,41,28,9,0,0,0
8,Casemiro,M,32,1.85,83,Brazil,25,1,1,2,38,9,30,10,7,0,0,0
9,Christian Eriksen,M,32,1.83,76,Denmark,22,10,1,2,13,4,7,3,1,0,0,0
10,Dermot Mee,G,21,1.83,72,Northern Ireland,0,0,0,0,0,0,0,0,0,0,0,0
11,Diogo Dalot,D,25,1.83,78,Portugal,36,1,2,3,30,7,43,14,5,1,0,0
12,Ethan Wheatley,F,18,1.87,65,England,3,3,0,0,0,0,3,0,0,0,0,0
13,Habeeb Ogunneye,D,18,1.79,64,England,0,0,0,0,0,0,0,0,0,0,0,0
14,Harry Amass,D,17,1.81,72,England,0,0,0,0,0,0,0,0,0,0,0,0
15,Harry Maguire,D,31,1.93,88,England,22,4,2,2,20,3,20,11,4,0,0,0
16,Jonny Evans,D,36,1.88,77,Northern Ireland,23,8,0,1,1,0,17,13,2,0,0,0
17,Kobbie Mainoo,M,19,1.75,72,England,24,0,3,1,11,5,13,23,3,0,0,0
18,Lisandro Martínez,D,26,1.75,72,Argentina,11,3,0,1,1,1,6,3,3,0,0,0
19,Louis Jackson,D,18,1.75,65,Scotland,0,0,0,0,0,0,0,0,0,0,0,0
20,Luke Shaw,D,28,1.78,78,England,12,0,0,0,2,0,13,3,6,0,0,0
21,Marcus Rashford,F,26,1.8,68,England,33,7,7,2,61,20,13,21,2,0,0,0
22,Mason Mount,M,25,1.8,76,England,14,9,1,0,4,1,10,9,2,0,0,0
23,Omari Forson,M,19,1.79,67,England,4,3,0,1,1,0,1,0,0,0,0,0
24,Raphaël Varane,D,31,1.91,81,France,22,6,1,0,8,2,8,3,2,0,0,0
25,Rasmus Højlund,F,21,1.91,78,Denmark,30,5,10,2,36,19,19,30,2,0,0,0
26,Scott McTominay,M,27,1.93,87,Scotland,32,14,7,1,43,18,28,21,2,0,0,0
27,Shola Shoretire,F,20,1.7,68,England,0,0,0,0,0,0,0,0,0,0,0,0
28,Sofyan Amrabat,M,27,1.83,82,Morocco,21,11,0,0,3,0,23,10,6,0,0,0
29,Toby Collyer,M,20,1.8,65,England,0,0,0,0,0,0,0,0,0,0,0,0
30,Tom Heaton,G,38,1.88,83,England,0,0,0,0,0,0,0,0,0,0,0,0
31,Tyrell Malacia,D,24,1.7,67,Netherlands,0,0,0,0,0,0,0,0,0,0,0,0
32,Victor Lindelöf,D,29,1.88,78,Sweden,19,5,1,1,6,4,15,2,2,0,0,0
33,Willy Kambwala,D,19,1.92,76,France,8,5,0,0,0,0,4,2,1,0,0,0

In [61]:
PlayerStats.to_csv("PlayerStatsClean.csv")

In [45]:
topScore = pd.read_csv("Top Scorers.csv")

In [46]:
topScore

    RK                NAME   P   G
0  NaN     Bruno Fernandes  35  10
1  NaN      Rasmus Højlund  30  10
2  NaN  Alejandro Garnacho  36   7
3  NaN     Marcus Rashford  33   7
4  NaN     Scott McTominay  32   7
5  NaN       Kobbie Mainoo  24   3
6  NaN         Diogo Dalot  36   2
7  NaN       Harry Maguire  22   2
8  NaN              Antony  29   1
9  NaN            Casemiro  25   1
10 NaN      Raphaël Varane  22   1
11 NaN   Christian Eriksen  22   1
12 NaN     Victor Lindelöf  19   1
13 NaN         Mason Mount  14   1
14 NaN     Anthony Martial  13   1
15 NaN                Amad   9   1
16 NaN     Hannibal Mejbri   5   1
17 NaN         André Onana  38   0
18 NaN         Jonny Evans  23   0
19 NaN   Aaron Wan-Bissaka  22   0
20 NaN      Sofyan Amrabat  21   0
21 NaN           Luke Shaw  12   0
22 NaN   Lisandro Martínez  11   0
23 NaN   Facundo Pellistri   9   0

In [47]:
topScore.drop(columns=["RK"],inplace =True)

In [48]:
topScore

                  NAME   P   G
0      Bruno Fernandes  35  10
1       Rasmus Højlund  30  10
2   Alejandro Garnacho  36   7
3      Marcus Rashford  33   7
4      Scott McTominay  32   7
5        Kobbie Mainoo  24   3
6          Diogo Dalot  36   2
7        Harry Maguire  22   2
8               Antony  29   1
9             Casemiro  25   1
10      Raphaël Varane  22   1
11   Christian Eriksen  22   1
12     Victor Lindelöf  19   1
13         Mason Mount  14   1
14     Anthony Martial  13   1
15                Amad   9   1
16     Hannibal Mejbri   5   1
17         André Onana  38   0
18         Jonny Evans  23   0
19   Aaron Wan-Bissaka  22   0
20      Sofyan Amrabat  21   0
21           Luke Shaw  12   0
22   Lisandro Martínez  11   0
23   Facundo Pellistri   9   0

In [60]:
topScore.to_csv("topScoreClean.csv")

In [49]:
attendance = pd.read_csv("Attendance.csv")

In [50]:
attendance

             CATEGORY    ATT
0  Largest Attendance  73612
1   Lowest Attendance  73358
2  Average Attendance  73531

In [51]:
salary = pd.read_csv("Annaual Salary.csv")

In [52]:
salary

                Player  Contract Expiry Annaual Salary (£)
0             Casemiro           2026.0         18,200,000
1       Raphael Varane           2025.0         17,700,000
2      Marcus Rashford           2028.0         15,600,000
3      Anthony Martial           2024.0         13,000,000
4         Jadon Sancho           2026.0         13,000,000
5          Mason Mount           2028.0         13,000,000
6      Bruno Fernandes           2026.0         12,500,000
7               Antony           2027.0         10,400,000
8        Harry Maguire           2025.0          9,900,000
9    Christian Eriksen           2025.0          7,800,000
10           Luke Shaw           2027.0          7,800,000
11         Andre Onana           2028.0          6,200,000
12   Donny van de Beek           2025.0          6,200,000
13   Lisandro Martinez           2027.0          6,200,000
14     Victor Lindelof           2025.0          6,200,000
15   Aaron Wan-Bissaka           2025.0          4,700,000
16         Diogo Dalot           2028.0          4,400,000
17      Rasmus Hojlund           2028.0          4,400,000
18      Tyrell Malacia           2026.0          3,900,000
19      Sofyan Amrabat           2024.0          3,400,000
20         Jonny Evans           2024.0          3,100,000
21     Scott McTominay           2025.0          3,100,000
22     Sergio Reguilon           2024.0          2,800,000
23  Alejandro Garnacho           2028.0          2,600,000
24     Shola Shoretire              NaN          2,300,000
25          Tom Heaton           2024.0          2,300,000
26      Altay Bayindir           2027.0          1,800,000
27         Amad Diallo           2025.0          1,500,000
28   Facundo Pellistri           2025.0          1,000,000
29       Kobbie Mainoo           2027.0            520,000
30     Hannibal Mejbri           2025.0            260,000

In [53]:
# Replace NaN with "2025"
salary['Contract Expiry'].fillna("2025", inplace=True)

C:\Users\thape\AppData\Local\Temp\ipykernel_13560\37030124.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2025' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  salary['Contract Expiry'].fillna("2025", inplace=True)

In [54]:
salary

                Player Contract Expiry Annaual Salary (£)
0             Casemiro          2026.0         18,200,000
1       Raphael Varane          2025.0         17,700,000
2      Marcus Rashford          2028.0         15,600,000
3      Anthony Martial          2024.0         13,000,000
4         Jadon Sancho          2026.0         13,000,000
5          Mason Mount          2028.0         13,000,000
6      Bruno Fernandes          2026.0         12,500,000
7               Antony          2027.0         10,400,000
8        Harry Maguire          2025.0          9,900,000
9    Christian Eriksen          2025.0          7,800,000
10           Luke Shaw          2027.0          7,800,000
11         Andre Onana          2028.0          6,200,000
12   Donny van de Beek          2025.0          6,200,000
13   Lisandro Martinez          2027.0          6,200,000
14     Victor Lindelof          2025.0          6,200,000
15   Aaron Wan-Bissaka          2025.0          4,700,000
16         Diogo Dalot          2028.0          4,400,000
17      Rasmus Hojlund          2028.0          4,400,000
18      Tyrell Malacia          2026.0          3,900,000
19      Sofyan Amrabat          2024.0          3,400,000
20         Jonny Evans          2024.0          3,100,000
21     Scott McTominay          2025.0          3,100,000
22     Sergio Reguilon          2024.0          2,800,000
23  Alejandro Garnacho          2028.0          2,600,000
24     Shola Shoretire            2025          2,300,000
25          Tom Heaton          2024.0          2,300,000
26      Altay Bayindir          2027.0          1,800,000
27         Amad Diallo          2025.0          1,500,000
28   Facundo Pellistri          2025.0          1,000,000
29       Kobbie Mainoo          2027.0            520,000
30     Hannibal Mejbri          2025.0            260,000

In [55]:
# Convert to integer type, which will remove the .0
salary['Contract Expiry'] = salary['Contract Expiry'].astype(int)

In [56]:
salary

                Player  Contract Expiry Annaual Salary (£)
0             Casemiro             2026         18,200,000
1       Raphael Varane             2025         17,700,000
2      Marcus Rashford             2028         15,600,000
3      Anthony Martial             2024         13,000,000
4         Jadon Sancho             2026         13,000,000
5          Mason Mount             2028         13,000,000
6      Bruno Fernandes             2026         12,500,000
7               Antony             2027         10,400,000
8        Harry Maguire             2025          9,900,000
9    Christian Eriksen             2025          7,800,000
10           Luke Shaw             2027          7,800,000
11         Andre Onana             2028          6,200,000
12   Donny van de Beek             2025          6,200,000
13   Lisandro Martinez             2027          6,200,000
14     Victor Lindelof             2025          6,200,000
15   Aaron Wan-Bissaka             2025          4,700,000
16         Diogo Dalot             2028          4,400,000
17      Rasmus Hojlund             2028          4,400,000
18      Tyrell Malacia             2026          3,900,000
19      Sofyan Amrabat             2024          3,400,000
20         Jonny Evans             2024          3,100,000
21     Scott McTominay             2025          3,100,000
22     Sergio Reguilon             2024          2,800,000
23  Alejandro Garnacho             2028          2,600,000
24     Shola Shoretire             2025          2,300,000
25          Tom Heaton             2024          2,300,000
26      Altay Bayindir             2027          1,800,000
27         Amad Diallo             2025          1,500,000
28   Facundo Pellistri             2025          1,000,000
29       Kobbie Mainoo             2027            520,000
30     Hannibal Mejbri             2025            260,000

In [59]:
salary.to_csv("SalaryClean.csv")